<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <header> 
            <h2>
                <a href="/">Home</a>
                {{!-- <a href="/about">About</a> --}}
            </h2>
            <nav>
                {{#if loggedIn}}
                <a href="/logout">Logout</a> |
                <button class="btn" id="logout">Logout</button>
                {{else}}
                <a href="/login">Login</a>
                {{/if}}
            </nav>
        </header>
        <div class="main-row">
            <div class="main-title">
                <h2>Coding Blog</h2>
            </div>
        </div>
        <main> 
            <body>
                {{{ body }}}
            </body>
        
        </main>
    </div>

    {{#if loggedIn}}
    <script src="javascript/logout.js"></script>
    {{/if}}
</body>
</html>