<div class="new-post-div">
    <button type="submit" class="btn" id="new-post-btn">New post</button>
</div>

{{#if posts.length}}
<div>
    <h2>Dashboard</h2>
    <ul class="post-list">
        {{#each posts as |post|}}
        <li class="post-list-item">
            <a href="/post/{{post._id}}"></a>
            <button class="btn delete-post-btn" data-id="{{this._id}}">Delete</button>
        </li>
        {{/each}}
    </ul>
</div>
{{/if}}

<script src="javascript/new-post.js"></script>