<a href="/dashboard" class="dashboard-link">Dashboard</a> <br />

<div class="new-blog-div">
  <div class="form-info">
    <h1>New Blog</h1>
    </div>
    <div class="form-outline">
        <form class="new-blog-form">
            <div class="form-title">
                <label for="blog-title">Title</label>
                <input type="text" name="blog-title" id="blog-title" />
            </div>
            <div class="blog-body-content">
                <label for="blog-body">Body</label>
                <textarea class="blog-body" name="blog-body" id="blog-body"></textarea>
            </div>
            <button type="submit" class="btn">Post</button>
        </form>
    </div>
</div>
<script src="javascript/new-post.js"></script>