<a href="/dashboard" class="dashboard-link">Dashboard</a> <br />

<div class="new-post-form">
  <div class="form-info">
    <h1>New post</h1>
    </div>
    <div class="form-outline">
        <form class="new-post-form">
            <div class="form-title">
                <label for="post-title">Title</label>
                <input type="text" name="post-title" id="post-title" />
            </div>
            <div class="post-body-info">
                <label for="post-info">Body</label>
                <textarea class="post-info" name="post-info" id="post-info"></textarea>
            </div>
            <button type="submit" class="submit-btn">Create Post</button>
        </form>
    </div>
</div>
<script src="javascript/new-post.js"></script>
{{!-- ../public/javascript/create-post.js --}}
{{!-- no button appearing still --}}