<div class="signup-page">
    <div class="form-info">
        <h1>Sign Up</h1>
    </div>
    <div class="form-outline">
        <form class="signup-form">
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" />
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" />
            </div>
            <div>
                <button type="submit" class="btn" id="signup-btn">Sign Up</button>
            </div>
        </form>
    </div>
    <a href="/login" class="login-link">Log In</a> <br />
</div>
<script src="javascript/signup.js"></script>